<ion-header [translucent]="true" class="ion-no-border">

  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button text="Назад" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    
  </ion-toolbar>

</ion-header>



<ion-content [fullscreen]="true">

<div class="cont1">

<div class="title1" style="margin-bottom: 15pt;">Подтвердить запись</div>

<div style="text-align: center;">

  <div class="podtverdit_zapis_list">
    
  <ion-item detail="false">
    <ion-label>
      <p>Время</p>
      <h3>05 мая 2022 г | 10:00</h3>
    </ion-label>
  </ion-item>

  <ion-item detail="false">
    <ion-label>
      <p>Врач</p>
      <h3>Фомина Светлана Юрьевна</h3>
    </ion-label>
  </ion-item>

  <ion-item detail="false">
    <ion-label>
      <p>Адрес</p>
      <h3>ул. М. Цветаевой, 30</h3>
    </ion-label>
  </ion-item>

  </div>

<ion-button id="present-alert" expand="block" color="secondary" size="large" style="margin-top: 30pt;"><span>Подтвердить запись</span></ion-button>
<ion-alert
  trigger="present-alert"
  header="Запись подтверждена"
  [buttons]="alertButtons"
></ion-alert>

</div>

</div>

</ion-content>