<ion-header [translucent]="true" class="ion-no-border">

  <ion-toolbar>

    <ion-buttons slot="end">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    
  </ion-toolbar>

</ion-header>



<ion-content [fullscreen]="true">

<div class="cont1">

<div class="title1" style="margin: 50pt 0 20pt 0; text-align: center;">Вы действительно хотите отменить запись?</div>

<ion-grid>
  <ion-row>
    <ion-col>
      <ion-button expand="block" color="danger" size="large" [routerLink]="['../']" [queryParams]=
    "{id:id, doctor: doctor, time: time, date: date, cancel: 1}">Да</ion-button>
    </ion-col>
    <ion-col>
      <ion-button expand="block" color="secondary" size="large" [routerLink]="['../']" [queryParams]=
    "{id:id, doctor: doctor, time: time, date: date, cancel: 0}">Нет</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>

</div>

</ion-content>