<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>TestPage</ion-title>
    <ion-menu-button color="primary"></ion-menu-button>
    <ion-button expand="block" color="secondary" size="large" [routerLink]="['../podtverdit-zapis']"><span>Записаться на прием</span></ion-button>
  </ion-toolbar>
</ion-header> -->


 <ion-content [fullscreen]="true">
  
 <!-- <div class="chart-container">
    <canvas  id="MyChart" >{{ chart }}</canvas>
</div>

<div class="title1" style="margin-bottom: 15pt;">Тестовая страница</div>
Тестовая страница2 -->

</ion-content>
