<ion-header [translucent]="true" class="ion-no-border">

  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button text="Назад" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>

</ion-header>



<ion-content [fullscreen]="true">

<div class="cont1">



  <div class="title1" style="margin-bottom: 25pt;">Частые вопросы</div>

  <ion-accordion-group>
    <ion-accordion *ngFor="let faq of faqs">
      <ion-item slot="header">
        {{faq.vopros}}
      </ion-item>
      <div class="ion-padding" slot="content">{{faq.otvet}}</div>
    </ion-accordion>

  </ion-accordion-group>



  <ion-button expand="block" color="secondary" size="large" [routerLink]="['../zadat-vopros']" style="margin: 25pt 0 0 0;"><span>Задать вопрос</span></ion-button>


</div>

</ion-content>
