<ion-header [translucent]="true" class="ion-no-border">

  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button text="Назад" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    
  </ion-toolbar>

</ion-header>



<ion-content [fullscreen]="true">

<div class="cont1">



  <div class="title1" style="margin-bottom: 25pt;">Частые вопросы</div>

 
  <div class="faq1">
      <div (click)="onclick1()" class="faq1tit">
        Какие гарантии того, что ваш товар подлинный и качественный?
        <div class="faq1Arrow">{{ReadMore? "&#8964;":"&#8963;"}}</div>
      </div>
      <div *ngIf="visible" class="faq1Cont">
        Заказать вы, конечно, можете, но на любой рецептурный препарат в аптеке имеют право потребовать рецепт, и если рецепта у вас не окажется, аптека вправе не выдать вам заказ.
      </div>
</div>

<div class="faq1">
  <div (click)="onclick1()" class="faq1tit">
    Какие гарантии того, что ваш товар подлинный и качественный?
    <div class="faq1Arrow">{{ReadMore? "&#8964;":"&#8963;"}}</div>
  </div>
  <div *ngIf="visible" class="faq1Cont">
    Заказать вы, конечно, можете, но на любой рецептурный препарат в аптеке имеют право потребовать рецепт, и если рецепта у вас не окажется, аптека вправе не выдать вам заказ.
  </div>
</div>


   
  

  <ion-button expand="block" color="secondary" size="large" [routerLink]="['../zadat-vopros']" style="margin: 25pt 0 0 0;"><span>Задать вопрос</span></ion-button>


</div>

</ion-content>