<ion-header [translucent]="true" class="ion-no-border">

  <ion-toolbar>

    <ion-buttons slot="end">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    
  </ion-toolbar>

</ion-header>



<ion-content [fullscreen]="true">

<div class="cont1">

<div class="title1">Расписание приема лекарственных препаратов</div>

<div class="list1" style="margin-top: 15pt; margin-bottom: 15pt;">
<ion-item button detail="false" [routerLink]="['date-time']" color="light">
  <ion-label>
    <h3>Препарат 1</h3>
    <p>Установить расписание приема</p>
  </ion-label>
</ion-item>
</div>

<ion-button expand="block" color="secondary" size="large" [routerLink]="['dobavit-preparat']">+ Добавить препарат</ion-button>

</div>

</ion-content>