<ion-header [translucent]="true" class="ion-no-border">

  <ion-toolbar>

    <ion-buttons slot="end">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    
  </ion-toolbar>

</ion-header>



<ion-content [fullscreen]="true">

<div class="cont1">

<div class="title1">Мои записи</div>

<div class="title2" style="margin: 25pt 0 10pt 0;">Предстоящие записи:</div>

<div class="list1">
<ion-item button detail="false" [routerLink]="['zapisi-detail']" color="light">
  <ion-label>
    <h3>Фомина Светлана Юрьевна</h3>
    <p>Запись на 25.07.2023, 16:00</p>
  </ion-label>
</ion-item>

<ion-item button detail="false" [routerLink]="['zapisi-detail']" color="light">
  <ion-label>
    <h3>Фомина Светлана Юрьевна</h3>
    <p>Запись на 25.07.2023, 16:00</p>
  </ion-label>
</ion-item>

</div>

<div class="title2" style="margin: 25pt 0 10pt 0;">Архив записей:</div>

<div class="list1 list1Disable">
<ion-item button detail="false" [routerLink]="['zapisi-detail']" color="light">
  <ion-label>
    <h3>Фомина Светлана Юрьевна</h3>
    <p>Запись на 25.07.2023, 16:00</p>
  </ion-label>
</ion-item>

<ion-item button detail="false" [routerLink]="['zapisi-detail']" color="light">
  <ion-label>
    <h3>Фомина Светлана Юрьевна</h3>
    <p>Запись на 25.07.2023, 16:00</p>
  </ion-label>
</ion-item>

</div>

</div>

</ion-content>