<ion-header [translucent]="true" class="ion-no-border">

  <ion-toolbar>

    <ion-buttons slot="end">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>

</ion-header>



<ion-content [fullscreen]="true">


<ion-loading trigger="open-loading" message="Загрузка..." spinner="circles"  [isOpen]="loader"></ion-loading>



<div class="cont1">

<div class="title1">Мои записи</div>

<div class="title2" style="margin: 25pt 0 10pt 0;">Предстоящие записи:</div>

<div class="list3">


 <div  *ngFor="let doc of doctors" [routerLink]="['../tab2/zapisi-detail']" [queryParams]=
    "{id:doc.id, doctor: doc.doctor, time: doc.time, date: doc.date, cancel: 0}">
    <h3>{{doc.doctor}}</h3>
    <p>Расписание</p>
  </div>


<!--
  <div [routerLink]="['../tab2/zapisi-detail']">
    <h3>Фомина Светлана Юрьевна</h3>
    <p>Расписание</p>
  </div>
  <div [routerLink]="['../tab2/zapisi-detail']">
    <h3>Фомина Светлана Юрьевна</h3>
    <p>Расписание</p>
  </div>
-->
</div>

<div class="title2" style="margin: 25pt 0 10pt 0;">Архив записей:</div>

<div class="list3 list1Disable">

  <div>
    <h3>Фомина Светлана Юрьевна</h3>
    <p>Расписание</p>
  </div>
  <div>
    <h3>Фомина Светлана Юрьевна</h3>
    <p>Расписание</p>
  </div>

</div>

</div>

</ion-content>
