<ion-header [translucent]="true" class="ion-no-border">

  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button text="Назад" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    
  </ion-toolbar>

</ion-header>



<ion-content [fullscreen]="true">

<div class="cont1">

<div class="title1" style="margin-bottom: 15pt;">Мои записи</div>

<div class="list2">
  <ion-grid>
    <ion-row>
      <ion-col size="5">Врач:</ion-col>
      <ion-col><ion-label color="medium">Фомина Светлана Юрьевна</ion-label></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="5">Дата приема:</ion-col>
      <ion-col><ion-label color="medium">25.07.2023</ion-label></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="5">Время приема:</ion-col>
      <ion-col><ion-label color="medium">16:00</ion-label></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="5">Адрес:</ion-col>
      <ion-col><ion-label color="medium"></ion-label></ion-col>
    </ion-row>
  </ion-grid>
</div>


<ion-button expand="block" color="secondary" size="large" style="margin-top: 30pt;">Добавить в календарь</ion-button>

<ion-button expand="block" color="danger" size="large" [routerLink]="['modalwin']" style="margin-top: 15pt;">Отменить запись</ion-button>

</div>

</ion-content>