<ion-header [translucent]="true">

  <ion-toolbar>

    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
  </ion-toolbar>

</ion-header>



<ion-content [fullscreen]="true">

<div class="cont1">

<div class="title1">Здравствуйте Цветочек!</div>

<div class="title2" style="margin: 25px 0;">Выберите специалиста для записи:</div>

<ion-item button detail="false" [routerLink]="['date-time']">
  <ion-label>
    <h3>Фомина Светлана Юрьевна</h3>
    <p>Расписание</p>
  </ion-label>
</ion-item>

<ion-item button detail="false" [routerLink]="['/home-page']">
  <ion-label>
    <h3>home-page</h3>
    <p>Расписание</p>
  </ion-label>
</ion-item>

<ion-item button detail="false" [routerLink]="['/test-page']">
  <ion-label>
    <h3>test-page</h3>
    <p>Расписание</p>
  </ion-label>
</ion-item>

<ion-item button detail="false" [routerLink]="['/page-one']">
  <ion-label>
    <h3>page-one</h3>
    <p>Расписание</p>
  </ion-label>
</ion-item>

<ion-item button detail="false" [routerLink]="['/page-two']">
  <ion-label>
    <h3>page-two</h3>
    <p>Расписание</p>
  </ion-label>
</ion-item>

<ion-item button detail="false">
  <ion-label>
    <h3>Фомина Светлана Юрьевна</h3>
    <p>Расписание</p>
  </ion-label>
</ion-item>

</div>

</ion-content>