<ion-header [translucent]="true" class="ion-no-border">

  <ion-toolbar>

    <ion-buttons slot="end">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    
  </ion-toolbar>

</ion-header>



<ion-content [fullscreen]="true">

<div class="cont1">

<div class="title1">Здравствуйте Цветочек!</div>

<div class="title2" style="margin: 25px 0;">Выберите специалиста для записи:</div>

<div class="list3">

  <div [routerLink]="['../tab1/date-time']">
    <h3>Фомина Светлана Юрьевна</h3>
    <p>Расписание</p>
  </div>
  <div [routerLink]="['../tab1/date-time']">
    <h3>Фомина Светлана Юрьевна</h3>
    <p>Расписание</p>
  </div>
  <div [routerLink]="['../tab1/date-time']">
    <h3>Фомина Светлана Юрьевна</h3>
    <p>Расписание</p>
  </div>
  <div [routerLink]="['../tab1/date-time']">
    <h3>Фомина Светлана Юрьевна</h3>
    <p>Расписание</p>
  </div>
  <div [routerLink]="['../tab1/date-time']">
    <h3>Фомина Светлана Юрьевна</h3>
    <p>Расписание</p>
  </div>

</div>

</div>

</ion-content>