// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {

  /** UserStyles **/
  ion-menu {
    // --ion-background-color:#29a3ad;
  }

  ion-menu-button {
	  width: 45pt;   
	  --font-size: 100px !important;
    font-size: 70px;
  }
  
  .list1 ion-item::part(native) {
  margin: 5pt 0;
  border-radius: 20px;
}
.list1 h3 {
  font-size: 13pt;
}

.list1 ion-item p {
 font-size: 11pt; margin-top: 5pt; opacity: 0.7;
}

.list2 { font-size: 16px; }
.list2 ion-row { margin: 5pt 0; }
.list2 ion-label { font-size: 18px; }

.list3 div { background-color: #F9F9F9; margin: 10pt 0; padding: 3pt 12pt; border-radius: 15px; cursor: pointer; }
// .list3 div:hover { color: #fff; background-color: #29A3AD; }
.list3 div:focus { color: #fff; background-color: #29A3AD; }
.list3 h3 {
  font-size: 18px;
}
.list3 p {
  font-size: 16px; margin-top: 5pt; opacity: 0.7;
 }

ion-button { font-size: 12pt; }
ion-button span { padding: 10pt; }


.pin_dots { text-align: center; margin: 30pt 0;}
.pin_dots ion-icon { margin: 0 3pt;}

.pin_block { position: absolute; bottom: 30pt; left: 0; right: 0; margin: auto; width: 250pt; }
.pin_block ion-button { font-size: 14pt; font-weight: bold; color: #777777;
  --border-color: #E9E9E9;
  --border-width: 2px;
}
.pin_block ion-col { text-align: center;}

.table_issled { font-size: 16px; color: #777777; }
.table_issled h3 { color: #000000;}
.table_issled span { font-size: 13px; }

.table_issled_detail { font-size: 13pt; color: #777777; border-bottom: 1px solid #BEBEBE; }
.table_issled_detail ion-row { margin: 5pt 0;}
.table_issled_detail span { font-size: 16px; color: #2A2A2A; }

.table_dannie { }
.table_dannie h3 { font-size: 14pt; color: #2A2A2A;}
.table_dannie p { font-size: 12pt;}

.podtverdit_zapis_list {}
.podtverdit_zapis_list p { font-size: 15px; color: #BEBEBE; margin: 7pt 0 0 0; }
.podtverdit_zapis_list h3 { font-size: 18px; margin: 10pt 0 5pt 0; }
.podtverdit_zapis_list ion-item { border-bottom: 1px solid #BEBEBE;}

.chat1 { margin-bottom: 100pt;}
.chat1 div { margin-top: 10pt; margin-bottom: 10pt; padding: 15pt; border-radius: 8pt; }
.chat1 span { display: block; color: #777777; font-size: 8pt; text-align: right; margin-top: 3pt; }
.chat1_me { background-color: #29A3AD4D; margin-left: 30pt; }
.chat1_robo { background-color: #F9F9F9; margin-right: 30pt; }

.chat1_containerField {
  position: fixed; height: 70pt; right: 0; left: 0; bottom: 0; background: linear-gradient(rgba(255, 255, 255, 0.5), rgb(255, 255, 255));
}
.chat1_sentField { position: relative; margin-top: 1pt; margin-left: 20pt; margin-right: 20pt;
  height: 52pt; background-color: #fff; border: 1px solid #BEBEBE; border-radius: 5pt;}
.chat1_sentField ion-button { position: absolute; top: 8pt; right: 5pt;}

.faq1 {
  position: relative;
  font-size: 12pt;
  background: #F9F9F9; padding: 15pt 25pt 15pt 15pt;
  margin-bottom: 15pt;
 }
 .faq1tit { color: #2A2A2A; margin-bottom: 10pt; font-weight: bold; }
 .faq1Cont { color: #777777; }
 .faq1Arrow { position: absolute; font-weight: 100; font-size: 18pt; top: 5pt; right: 10pt; color: #C3C3C5; opacity: 0.8; }

.list1Disable { opacity: 0.5; }

  ion-icon {
    // color: #ffffff;
  }

 .cont1 { padding: 20pt; }

 .alert-head { border-bottom: 1px solid #BEBEBE;}
 .alert-button-group { text-align: center; }
 .alert-button-group button { 
  position: relative; 
  display: block;
  right: 0;
  margin: auto;
}

.modal_zakaz_test_cont { text-align: center; font-size: 13pt; padding: 0 15%; }



 /**
 ion-toolbar {
  --background: #ffffff;
  --padding-top: 10px;
  --padding-bottom: 10px;
}
**/

ion-tab-bar {
  // --background: #29a3ad;
}

  ion-title {
   //  background-color:#29a3ad; text-align: left;
  }

  .title1 { font-size: 25px; }
  .title2 { font-size: 20px; }

  .PageNastroyki {
    ion-button { margin-top: 10pt; margin-bottom: 10pt; padding: 0 5pt; width: 100pt; height: 70pt; font-size: 8pt; }
  }

  .custom-button-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  ion-modal {
    --height: 50%;
    --border-radius: 16px;
    --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  }
  
  ion-modal::part(backdrop) {
    background: rgba(209, 213, 219);
    opacity: 1;
  }
  
  ion-modal ion-toolbar {
    --background: rgb(14 116 144);
    --color: white;
  }

  .datetime-time ion-picker-internal { }

.calendarCont {position: relative;}
.cal_hider { position: absolute; width: 90px; height: 43px; top: 3px; right: 3px; 
  background-color: #fff;
  z-index: 99;
  opacity: 1;
}
.cal_hider2 { top: 19px;}




  /** primary **/
  --ion-color-primary: #107881;
  --ion-color-primary-rgb: 41, 163, 173;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #248f98;
  --ion-color-primary-tint: #3eacb5;

  /** secondary **/
  --ion-color-secondary: #29A3AD;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #F9F9F9;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}