<ion-header [translucent]="true" class="ion-no-border">

  <ion-toolbar>

    <ion-buttons slot="end">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    
  </ion-toolbar>

</ion-header>



<ion-content [fullscreen]="true">

<div class="cont1">

<div class="title1">Доставка препарата</div>

<ion-textarea fill="outline"
    placeholder="Type something here"
    [autoGrow]="true"
    placeholder="Адрес"
    style="height: 100pt; margin: 20pt 0 0 0;"
  >
  </ion-textarea>


<div class="list2" style="border: 1px solid #BEBEBE; border-radius: 3pt; margin-top: 10pt;">
  <ion-grid>
    <ion-row>
      <ion-col><div style="color: #777777;">Дата:</div>
      <div>
        <ion-datetime presentation="date" locale="ru-RU">
          <span slot="time-label">Время:</span>
        </ion-datetime>
      </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
<div class="list2" style="border: 1px solid #BEBEBE; border-radius: 3pt; margin-top: 10pt;">
  <ion-grid>
    <ion-row>
      <ion-col>
      <div style="margin: 0; color: #777777;">Время:</div>
      <div>
        <ion-datetime presentation="time" locale="ru-RU"></ion-datetime>
      </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>

<ion-button id="otpravit-zayavku" expand="block" color="secondary" size="large" style="margin-top: 30pt;"><span>Отправить заявку</span></ion-button>
<ion-alert
  trigger="otpravit-zayavku"
  header="Заявка отправлена"
  [buttons]="sentButtons"
></ion-alert>


<div style="text-align: center; margin: 20pt 0 0 0;">Доставка АРТ бесплатно осуществляется паллиативным и малообеспеченным пациентам. Также возможна платная доставка АРТ</div>


</div>

</ion-content>