<ion-header [translucent]="true">

  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
  </ion-toolbar>

</ion-header>




<ion-content [fullscreen]="true">

  <div class="cont1">
  
    <ion-item button detail="false" [routerLink]="['../podtverdit-zapis']">
      <ion-label>
        <h3>Подтвердить запись</h3>
      </ion-label>
    </ion-item>

</div>

</ion-content>
