<ion-header [translucent]="true" class="ion-no-border">

  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button text="Назад" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    
  </ion-toolbar>

</ion-header>



<ion-content [fullscreen]="true">

<div class="cont1">

<div class="title1" style="margin-bottom: 15pt;">Дата и время</div>

<div style="text-align: center">
<ion-datetime locale="ru-RU" presentation="date"></ion-datetime>
</div>

<h3>Свободное время</h3>
<ion-button>10:00</ion-button>
<ion-button fill="outline" color="medium">10:00</ion-button>
<ion-button fill="outline" color="medium">10:00</ion-button>
<ion-button fill="outline" color="medium">10:00</ion-button>
<ion-button fill="outline" color="medium">10:00</ion-button>
<ion-button fill="outline" color="medium">10:00</ion-button>
<ion-button fill="outline" color="medium">10:00</ion-button>
<ion-button fill="outline" color="medium">10:00</ion-button>

<div style="text-align: center; margin-top: 30pt;">
<ion-button expand="block" color="secondary" size="large" [routerLink]="['../podtverdit-zapis']"><span>Записаться на прием</span></ion-button>
</div>

</div>

</ion-content>