<ion-header [translucent]="true" class="ion-no-border">

  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button text="Назад" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    
  </ion-toolbar>

</ion-header>



<ion-content [fullscreen]="true">

<div class="cont1">

<div class="title1" style="margin-bottom: 25pt;">Настройки</div>

<div class="title2" style="margin: 25px 0 10px 0;">Имя / Ник</div>
<ion-input value="Цветочек" fill="outline"></ion-input>

<div class="title2" style="margin: 25px 0 10px 0;">Город</div>
<ion-select value="moscow" interface="action-sheet" label-placement="floating" fill="outline" cancelText="Закрыть">
  <ion-select-option value="moscow">Москва</ion-select-option>
  <ion-select-option>Санкт-Петербург</ion-select-option>
</ion-select>

<div class="title2" style="margin: 25px 0 10px 0;">Мед. учреждение</div>
<ion-select interface="action-sheet" cancelText="Закрыть" label-placement="floating" fill="outline" value="uchrejden">
  <ion-select-option value="uchrejden">Учреждение № 1</ion-select-option>
</ion-select>

<ion-button expand="block" color="secondary" size="large" [routerLink]="['dobavit-preparat']" style="margin-top: 50pt;"><span>Сохранить</span></ion-button>


</div>

</ion-content>