<ion-header [translucent]="true" class="ion-no-border">

  <ion-toolbar>

    <ion-button fill="clear" size="medium" slot="end">Войти</ion-button>
    
  </ion-toolbar>

</ion-header>



<ion-content [fullscreen]="true">

<div class="cont1">

<div class="title1">Тест на ВИЧ</div>

<div style="text-align: left; margin: 15pt 0 0 0;">
  Оставьте свой телефон. Наш сотрудник свяжется с вами для уточнения заказа. Напишите в примечании, если вам более удобно общаться в мессенджере
</div>

<div class="title2" style="margin: 25px 0 10px 0;">Номер телефона</div>
<ion-input label-placement="floating" fill="outline" label="Номер телефона"
placeholder="+7 (xxx) xxx-xxxx"
      [maskito]="phoneMask"
      [maskitoElement]="maskPredicate"
style="margin: 10pt 0 0 0;"></ion-input>


<div class="list2" style="border: 1px solid #BEBEBE; border-radius: 3pt; margin-top: 10pt;">
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="calendarCont">
          <div style="color: #777777;">Дата:</div>
          <div class="cal_hider cal_hider2"></div>
      <div>
        <ion-datetime presentation="date" locale="ru-RU" [firstDayOfWeek]="1">
          <span slot="time-label">Время:</span>
        </ion-datetime>
      </div>
      </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>

<div class="title2" style="margin: 25px 0 10px 0;">Введите адрес доставки</div>

<ion-textarea fill="outline"
    placeholder="Type something here"
    [autoGrow]="true"
    placeholder="Ваш адрес"
    style="height: 80pt; margin: 10pt 0 0 0;"
  >
  </ion-textarea>

  <div class="title2" style="margin: 25px 0 10px 0;">Комментарий</div>

<ion-textarea fill="outline"
    placeholder="Type something here"
    [autoGrow]="true"
    placeholder="Комментарий"
    style="height: 120pt; margin: 10pt 0 0 0;"
  >
  </ion-textarea>


<ion-button id="test-na-vich" expand="block" color="secondary" size="large" style="margin-top: 30pt;">Сделать заказ</ion-button>
<ion-alert
  trigger="test-na-vich"
  header="Заявка отправлена"
  [buttons]="alertButtons"
></ion-alert>


</div>

</ion-content>