<ion-header [translucent]="true" class="ion-no-border">

  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button text="Назад" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>

</ion-header>



<ion-content [fullscreen]="true">

<ion-loading trigger="open-loading" message="Загрузка..." spinner="circles"  [isOpen]="loader"></ion-loading>


<div class="cont1">

<div class="title1" style="margin-bottom: 15pt;">Последние исследования</div>


<div *ngFor="let prof of profs">

  <ion-item button detail="false" color="light" [routerLink]="['../issledovaniya-detail']" [queryParams]=
    "{type:prof.typei}">
    <div class="table_issled">
      <ion-grid [fixed]="true">
        <ion-row>
          <ion-col><h3>Исследование  {{prof.type}}:</h3>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="5"><span>Дата:</span></ion-col>
          <ion-col>
            {{prof.date}};
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="5"><span>Результат:</span></ion-col>
          <ion-col>
             {{prof.result}};
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="5"><span>Примечание:</span></ion-col>
          <ion-col>
            Прошло {{prof.diffdays}} дней с момента последнего анализа;
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-item>

  </div>



</div>

</ion-content>
