<ion-header [translucent]="true" class="ion-no-border">

  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button text="Назад" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    
  </ion-toolbar>

</ion-header>



<ion-content [fullscreen]="true">

<div class="cont1">

<div class="title1" style="margin-bottom: 15pt;">Последние исследования</div>


<div class="list1">

  <ion-item button detail="false" color="light" [routerLink]="['../issledovaniya-detail']">
    <div class="table_issled">
      <ion-grid [fixed]="true">
        <ion-row>
          <ion-col><h3>Исследование СД4:</h3></ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="5"><span>Дата:</span></ion-col>
          <ion-col>
            14.03.2023;
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="5"><span>Результат:</span></ion-col>
          <ion-col>
            510;	
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="5"><span>Примечание:</span></ion-col>
          <ion-col>
            Прошло 3 месяцев с момента последнего анализа;	
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-item>

  <ion-item button detail="false" color="light" [routerLink]="['../issledovaniya-detail']">
    <div class="table_issled">
      <ion-grid [fixed]="true">
        <ion-row>
          <ion-col><h3>Исследование СД4:</h3></ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="5"><span>Дата:</span></ion-col>
          <ion-col>
            14.03.2023;
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="5"><span>Результат:</span></ion-col>
          <ion-col>
            510;	
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="5"><span>Примечание:</span></ion-col>
          <ion-col>
            Прошло 3 месяцев с момента последнего анализа;	
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-item>

  <ion-item button detail="false" color="light" [routerLink]="['../issledovaniya-detail']">
    <div class="table_issled">
      <ion-grid [fixed]="true">
        <ion-row>
          <ion-col><h3>Исследование СД4:</h3></ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="5"><span>Дата:</span></ion-col>
          <ion-col>
            14.03.2023;
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="5"><span>Результат:</span></ion-col>
          <ion-col>
            510;	
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="5"><span>Примечание:</span></ion-col>
          <ion-col>
            Прошло 3 месяцев с момента последнего анализа;	
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-item>

  </div>



</div>

</ion-content>