
<ion-header [translucent]="true" class="ion-no-border">

  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button text="Назад" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    
  </ion-toolbar>

</ion-header>



<ion-content [fullscreen]="true">

<div class="cont1">

<div class="title1" style="margin-bottom: 15pt;">Добавить препарат</div>

<ion-grid>

  <ion-row>
    <ion-col>
<div class="title2" style="margin: 25px 0 15px 0;">Медикамент</div>

<ion-input label="Название" label-placement="floating" fill="outline" placeholder="Название"></ion-input>
</ion-col>
</ion-row>

  <ion-row>
    <ion-col size="8">
      
        <ion-select interface="action-sheet" label="Таблетки" label-placement="floating" fill="outline" cancelText="Закрыть">
          <ion-select-option>Абакавир (раствор)</ion-select-option>
          <ion-select-option>Абакавир (таблетки)</ion-select-option>
          <ion-select-option>Абакавир + Ламивудин</ion-select-option>
          <ion-select-option>Атазанавир</ion-select-option>
          <ion-select-option>Азитромицин</ion-select-option>
          <ion-select-option>Ацикловир</ion-select-option>
          <ion-select-option>Ламивудин (раствор)</ion-select-option>
          <ion-select-option>Ламивудин (таблетки)</ion-select-option>
          <ion-select-option>Зидовудин</ion-select-option>
          <ion-select-option>Зидовудин + Ламивудин</ion-select-option>
          <ion-select-option>Фосфазид</ion-select-option>
          <ion-select-option>Тенофовир</ion-select-option>
          <ion-select-option>Эфавиренз</ion-select-option>
          <ion-select-option>Невирапин (суспензия)</ion-select-option>
          <ion-select-option>Невирапин (таблетки)</ion-select-option>
          <ion-select-option>Элсульфавирин</ion-select-option>
          <ion-select-option>Этравирин</ion-select-option>
          <ion-select-option>Тенофовир дизопроксил + Эмтрицитабин + Рилпивирин</ion-select-option>
          <ion-select-option>Тенофовир дизопроксил + Ламивудин + Доравирин</ion-select-option>
          <ion-select-option>Тенофовир дизопроксил + Ламивудин + Элсульфавирин</ion-select-option>
          <ion-select-option>Лопинавир + Ритонавир (раствор)</ion-select-option>
          <ion-select-option>Лопинавир + Ритонавир (таблетки)</ion-select-option>
          <ion-select-option>Ритонавир</ion-select-option>
          <ion-select-option>Дарунавир</ion-select-option>
          <ion-select-option>Фосампренавир</ion-select-option>
          <ion-select-option>Ралтегравир (жевательные таблетки)</ion-select-option>
          <ion-select-option>Ралтегравир (таблетки)</ion-select-option>
          <ion-select-option>Долутегравир</ion-select-option>
          <ion-select-option>Тенофовир алафенамид + Эмтрицитабин + Биктегравир</ion-select-option>
          <ion-select-option>Тенофовир алафенамид + Эмтрицитабин + Элвитегравир + Кобицистат</ion-select-option>
          <ion-select-option>Изониазид</ion-select-option>
          <ion-select-option>Ко-тримоксазол</ion-select-option>
          <ion-select-option>Флуконазол</ion-select-option>
        </ion-select>
      
    </ion-col>
    <ion-col>
     
      <ion-select interface="action-sheet" label-placement="floating" fill="outline" cancelText="Закрыть" value="mg">
          <ion-select-option value="mg">МГ</ion-select-option>
          <ion-select-option>МЛ</ion-select-option>
        </ion-select>
     
    </ion-col>
  </ion-row>

<ion-row>
<ion-col>
<div class="title2" style="margin: 25px 0;">Напоминания и дозировка</div>

<ion-select interface="action-sheet" label-placement="floating" fill="outline" cancelText="Закрыть" value="kurs">
    <ion-select-option value="kurs">Курс</ion-select-option>
  </ion-select>
</ion-col>
</ion-row>

</ion-grid>

  <div style="margin-top: 10pt; margin-bottom: 5pt;">
  <ion-grid>
    <ion-row>
      <ion-col size="2">
        <ion-button (click)="minus()" size="small" fill="clear">
          <ion-icon slot="icon-only" name="remove-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col style="text-align: center;">
        <div style="margin-top: 5pt; padding-left: 25pt;">
        Раз в сутки: <input aria-label="Primary input" color="primary" type="text" [value]="quantity" [disabled]="true" style="width: 50px; border: none; background-color: #fff;">
        </div>
      </ion-col>
      <ion-col size="2" style="text-align: right;">
        <ion-button (click)="plus()" size="small" fill="clear">
          <ion-icon slot="icon-only" name="add-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-select interface="action-sheet" label-placement="floating" fill="outline" cancelText="Закрыть" value="time">
          <ion-select-option value="time">9:00</ion-select-option>
        </ion-select>
      </ion-col>
      <ion-col>
        <ion-item style="text-align: center;">
          <ion-label><ion-input fill="outline" placeholder="1" style="width: 40pt;"></ion-input></ion-label> <ion-label>мг</ion-label>
      </ion-item>
      </ion-col>
      <ion-col style="text-align: right; vertical-align: middle;">
        <ion-button color="light" fill="clear">
          <ion-icon slot="icon-only" name="trash-outline" color="danger"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>

  <ion-select interface="action-sheet" label-placement="floating" fill="outline" cancelText="Закрыть" value="napominan">
    <ion-select-option value="napominan">Стандартные напоминания</ion-select-option>
  </ion-select>

  <div class="title2" style="margin-top: 25pt; margin-bottom: 15pt;">Режим приема</div>

  <ion-select interface="action-sheet" label-placement="floating" fill="outline" cancelText="Закрыть" value="rejim">
    <ion-select-option value="rejim">Каждый день</ion-select-option>
  </ion-select>

  <div class="title2" style="margin-top: 25pt; margin-bottom: 15pt;">Длительность</div>

  <ion-select interface="action-sheet" label-placement="floating" fill="outline" cancelText="Закрыть" value="dlitelnost">
    <ion-select-option value="dlitelnost">Постоянно</ion-select-option>
  </ion-select>

  <div class="list2" style="border: 1px solid #BEBEBE; border-radius: 3pt; margin-top: 10pt;">
    <ion-grid>
      <ion-row>
        <ion-col><div style="margin: 0 0 7pt 0; color: #777777;">Начать с:</div>
        <div>
          <ion-datetime locale="ru-RU" presentation="date">
          </ion-datetime>
        </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ion-button id="dobavit-preparat" expand="block" color="secondary" size="large" style="margin-top: 15pt;"><span>Добавить</span></ion-button>
  <ion-alert
  trigger="dobavit-preparat"
  header="Препарат добавлен"
  [buttons]="dobavitPreparat"
></ion-alert>

  </ion-col>
  </ion-row>
  </ion-grid>

</div>

</ion-content>

